/* Estilos Gerais */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 64px;
}

/* Introdução */
.titulo_home {
    text-align: center;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.redes_sociais {
    display: flex;
    justify-content: center;
}

.redes_sociais a{
    margin-left: 10px;
}

.redes_sociais img{
    height: 32px;
    width: 32px;
}

/* Resumo */
.resumo {
    display: flex;
    align-items: center;
}

.resumo img{
    height: 160px;
    width: 160px;
    margin-right: 70px;
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills-titulo {
    margin-bottom: 40px;
}

.skills li {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}

.skills li img {
    margin-bottom:40px;
}
